<button
	(click)="onClicked($event)"
	[disabled]="disabled"
	[type]="type"
	[id]="buttonId"
	[classList]="severity"
	[style]="{
		width: isFullWidth ? '100%' : (data?.style?.width ?? 'auto'),
		minWidth: data?.style?.minWidth ?? 'auto',
		height: data?.style?.height ?? '2.5rem',
		fontSize: data?.style?.fontSize ?? '0.875rem',
		borderRadius: data?.style?.borderRadius ?? '0.25rem',
		padding: data?.style?.padding ?? '',
		boxSizing: data?.style?.boxSizing ?? '',
	}"
>
	@if (data && !!data.img) {
		<img [src]="'assets/svg/buttons/' + data.img" [alt]="data.img" loading="lazy" 
			[style]="{
				width: data?.style?.width ?? 'auto',
			}"/>
	} @else {
		{{label}}
	}
</button>