.primary
    background-color: var(--secondary-50)
    padding: 20px 25px
    height: 30px
    border-radius: 0.25rem
    font-size: 0.875rem
    height: 2.5rem
    min-width: auto
    width: auto
    display: flex
    justify-content: center
    align-items: center
    border: none
    cursor: pointer

.light
    background-color: var(--neutral-50)
    border: 1px solid var(--neutral-50) !important
    margin-right: 10px
    color: var(--black)
    padding: 20px 25px
    height: 30px
    border-radius: 0.25rem
    font-size: 0.875rem
    height: 2.5rem
    min-width: auto
    width: auto
    display: flex
    justify-content: center
    align-items: center
    border: none
    cursor: pointer