<div class="table elevation-8">
  <table>
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                @if(column.header != 'actions'){
                    {{column.header}}
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @for (data of dataSource; track $index) {
            <tr>
                @for (column of columns; track $index) {
                    @switch (column?.type) {
						@case ('actions') {
                            <td>
                                <ng-container
                                    *ngTemplateOutlet="customActionsTemplate; context: { $implicit: data }"
                                ></ng-container>
                            </td>
                        }
                        
						@case ('date') {
                            <td>
                            	@if (data[column.field] && data[column.field] !== '') {
                                    <div class="flex gap-2 align-items-center">
                                        <i class="pi pi-calendar icon-calendar"></i>
                                        <span>{{ data[column.field] | date: 'dd/MM/yyyy' : '+0000' }}</span>
                                    </div>
                                } @else {
                                    <span>-</span>
                                }
                            </td>
                        }

                        @default {
                            <td>
                                {{ data[column.field] }}
                            </td>
						}

                    }
                }
            </tr>
        }
    </tbody>
 </table>
</div>