<app-navbar></app-navbar>
<div class="layout">
    <div class="layout__menu">
        <div class="layout__menu-item" (click)="redirect(clientRoutes.LIST)">
            Cliente
        </div>
        <div class="layout__menu-item" (click)="redirect(accountRoutes.LIST)">
            Cuentas
        </div>
        <div class="layout__menu-item" (click)="redirect(movementRoutes.LIST)">
            Movimientos
        </div>
        <div class="layout__menu-item" (click)="redirect(reportRoutes.LIST)">
            Reportes
        </div>
    </div>
    <div class="layout__content">
        <router-outlet></router-outlet>
    </div>
</div>